<html>
<head>

</head>
    <body>
        <h2>{{ciudad}} - {{ fecha }}</h2>

        <h2>Hola! {{ nombre }} {{ apellido }}, te damos la bienvenida a nuestra tienda virtual.</h2>
        <p>
            Le agradecemos por la compra que realizó, esperamos que sea de su total agrado.
            <br>
            La solicitud de compra del producto: {{producto}} {{descripcion}} ha sido registrada con exito,
            por lo cual se va a despachar lo mas pronto posible para que llegue a sus manos y pueda disfrutar de 
            este cuanto antes, esperamos que llegue sin novedad al destino pactado y sea lo esperado.
            <br>
            <br>
            Valor del producto: {{costo}}
            <br>

            Recuerda que este puede llegar entre 1 a 5 dias.
            <br>
            Cualquier novedad con la compra te puedes comunicar al 3217026113 y con gusto te atenderemos.
            <br>
            <br>
            Nos complace informarte que por esta compra obtendras un descuento del 10 porciento en la proxima 
            compra que realices, solo debes enviarnos una foto como evidencia del producto con el comprobante de pago.
            <br>
            <br>
            Esperamos que tengas un dia increible y lleno de exitos desde la empresa STYLE GLASSES
            <br>
            <br>
        </p>
    </body>
</html>