<html>
<head>

</head>
    <body>
        <h3>{{ciudad}} - {{ fecha }}</h3>
        <h2>Hola Jefe Ivan.</h2>
        <p>
            Por favor despachar el siguiente producto al cliente {{nombre}}{{apellido}}...
            <br>
            * {{ producto }} {{descripcion}} 
            <br>
            Con un valor De {{ costo }}
            <br>
            Enviar a {{ciudad}}, {{direccion}} 
            <br>
            Puento De Venta Tienda DM.
        </p>
        <h6>---------------------------------------------------</h6>
    </body>
</html>