<html>
<head>

</head>
    <body>
        <h2>{{ciudad}} - {{ fecha }}</h2>

        <h2>Hola. Este es un correo para los administradores Salome y Frank</h2>
        <p>
            Se inicia el despacho del producto: {{ producto }} {{descripcion}}, ya que fue solicitado por el
            cliente: {{ nombre }} {{ apellido }}, se le han brindado salvedades e informacion pertinente.
            <br>
            <br>
            El producto sera llevado a {{ direccion }}, en {{ ciudad }} - {{ departamento }}

            STYLE GLASSES
        </p>
    </body>
</html>